## Airbnb Effect on housing price in the United States

### Hypothesis:
The short term leasing option on Airbnb contributed to the increase housing price.

### Description:
Airbnb has been launched since 2008. This new and popular short term leasing platform give many house owner a chance to rent their house to tourist in short term. This convenience also lead to other unpredicted situation. Based on recent change in housing market, many researchers started to blame airbnb for contributing to the increasing housing price.

Because housing price can be influenced by many factors, I will choose the airbnb from different type of cities to see the overall influence(Chicago, Boston, Seattle, San Francisco, etc.). For the time period, I will use the last 10 years airbnb data in those specific cities and explore its possible correlation and causation with those citiesâ€™ housing price on Zillow.

#### 13 cities at United States who have data on airbnb from 2015-2019
Chicago, Seattle, San Francisco, Los Angelous, Austin, Boston, Nashville, New Orleans, New York City, Oakland, Portland, San Diego, Washington, D.C.

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
def get_airbnb_listing(year, city):
    
    url = "/Users/jimmytsai/Downloads/" +  city +  "_" + year + "_listings.csv"
    listing = pd.read_csv(url,',')
    listing = listing[['city','neighbourhood_cleansed','property_type','room_type','beds','price']]
    return listing

In [3]:
get_airbnb_listing("2019","Chicago").head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price
0,Chicago,Hyde Park,Condominium,Private room,1.0,$50.00
1,Chicago,South Lawndale,Apartment,Entire home/apt,4.0,$117.00
2,Chicago,Lincoln Park,Condominium,Entire home/apt,4.0,$255.00
3,Chicago,West Town,Apartment,Entire home/apt,1.0,$80.00
4,Chicago,Lincoln Park,Apartment,Entire home/apt,2.0,$150.00
5,Chicago,Hyde Park,Apartment,Private room,1.0,$35.00
6,Chicago,Lincoln Park,Apartment,Entire home/apt,2.0,$215.00
7,Chicago,Near North Side,Condominium,Entire home/apt,1.0,$99.00
8,Chicago,Lincoln Park,Boutique hotel,Private room,1.0,$289.00
9,Chicago,West Town,Apartment,Entire home/apt,2.0,$99.00

In [4]:
def get_all_list_from_airbnb(year_list, city):
    
    home_list = pd.DataFrame() 

    for y in year_list:
        newlist = get_airbnb_listing(str(y), city)
        newlist['year'] = y
        home_list = home_list.append(newlist,ignore_index=True)

    home_list['price'] = home_list['price'].str[1:]
    #home_list['cleaning_fee'] = home_list['cleaning_fee'].str[1:]
    home_list['price'] = home_list['price'].str.replace(',','').astype(float)
    #home_list['cleaning_fee'] = home_list['cleaning_fee'].str.replace(',','').astype(float)
    
    return home_list

In [5]:
chicago_list = get_all_list_from_airbnb([2015,2017,2018,2019],"Chicago")
chicago_list['category']= "chicago"
chicago_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,142.0,2015,chicago
1,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,120.0,2015,chicago
2,Chicago,Lincoln Square,House,Entire home/apt,1.0,85.0,2015,chicago
3,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,125.0,2015,chicago
4,Chicago,Lincoln Square,Apartment,Private room,1.0,75.0,2015,chicago
5,Chicago,Lincoln Square,House,Private room,1.0,95.0,2015,chicago
6,Chicago,Lincoln Square,Apartment,Entire home/apt,5.0,275.0,2015,chicago
7,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,175.0,2015,chicago
8,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,100.0,2015,chicago
9,Chicago,Lincoln Square,Apartment,Private room,1.0,80.0,2015,chicago

In [6]:
chicago_list.dtypes

city                       object
neighbourhood_cleansed     object
property_type              object
room_type                  object
beds                      float64
price                     float64
year                        int64
category                   object
dtype: object

In [7]:
# chicago_list['price'] = chicago_list['price'].str[1:]
# chicago_list['cleaning_fee'] = chicago_list['cleaning_fee'].str[1:]
# chicago_list['price'] = chicago_list['price'].str.replace(',','').astype(float)
# chicago_list['cleaning_fee'] = chicago_list['cleaning_fee'].str.replace(',','').astype(float)

In [8]:
chicago_list_agg = chicago_list.groupby('year').agg(['count', 'mean'])
chicago_list_agg

      beds           price
     count      mean count        mean
year
2015  5134  1.641995  5147  149.549252
2017  5204  1.912952  5207  136.210486
2018  6875  2.009164  6877  134.671659
2019  7801  2.129086  7803  143.041907

In [9]:
chicago_1b_apt_list = chicago_list[chicago_list['beds'] == 1.0][chicago_list['room_type'] == "Entire home/apt" ]
chicago_1b_apt_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
2,Chicago,Lincoln Square,House,Entire home/apt,1.0,85.0,2015,chicago
8,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,100.0,2015,chicago
16,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,85.0,2015,chicago
19,Chicago,Lincoln Square,House,Entire home/apt,1.0,102.0,2015,chicago
21,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,90.0,2015,chicago
23,Chicago,Lincoln Square,Condominium,Entire home/apt,1.0,110.0,2015,chicago
27,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,150.0,2015,chicago
30,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,90.0,2015,chicago
35,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,60.0,2015,chicago
39,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,107.0,2015,chicago

In [10]:
chicago_1b_apt_list_agg = chicago_1b_apt_list.groupby('year').agg(['count', 'mean'])
chicago_1b_apt_list_agg

      beds      price
     count mean count        mean
year
2015  1230  1.0  1230  144.454472
2017   965  1.0   965  127.753368
2018  1230  1.0  1230  121.067480
2019  1366  1.0  1366  123.987555

In [11]:
chicago_2b_apt_list = chicago_list[chicago_list['beds'] == 2.0][chicago_list['room_type'] == "Entire home/apt" ]
chicago_2b_apt_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,142.0,2015,chicago
1,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,120.0,2015,chicago
3,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,125.0,2015,chicago
7,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,175.0,2015,chicago
14,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,210.0,2015,chicago
22,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,150.0,2015,chicago
24,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,125.0,2015,chicago
43,Chicago,Lincoln Square,Condominium,Entire home/apt,2.0,150.0,2015,chicago
44,Chicago,Lincoln Square,House,Entire home/apt,2.0,150.0,2015,chicago
57,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,150.0,2015,chicago

In [12]:
chicago_2b_apt_list_agg = chicago_2b_apt_list.groupby('year').agg(['count', 'mean'])
chicago_2b_apt_list_agg

      beds      price
     count mean count        mean
year
2015  1050  2.0  1050  198.404762
2017  1061  2.0  1061  168.161169
2018  1333  2.0  1333  158.206302
2019  1571  2.0  1571  154.979631

In [13]:
chicago_private_room_list = chicago_list[chicago_list['room_type'] == "Private room" ]
chicago_private_room_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
4,Chicago,Lincoln Square,Apartment,Private room,1.0,75.0,2015,chicago
5,Chicago,Lincoln Square,House,Private room,1.0,95.0,2015,chicago
9,Chicago,Lincoln Square,Apartment,Private room,1.0,80.0,2015,chicago
10,Chicago,Lincoln Square,Apartment,Private room,1.0,55.0,2015,chicago
11,Chicago,Lincoln Square,Condominium,Private room,1.0,70.0,2015,chicago
13,Chicago,Lincoln Square,Apartment,Private room,2.0,75.0,2015,chicago
15,Chicago,Lincoln Square,Apartment,Private room,1.0,60.0,2015,chicago
17,Chicago,Lincoln Square,Apartment,Private room,1.0,55.0,2015,chicago
20,Chicago,Lincoln Square,Apartment,Private room,1.0,60.0,2015,chicago
28,Chicago,Lincoln Square,Apartment,Private room,1.0,60.0,2015,chicago

In [14]:
chicago_private_room_list_agg = chicago_private_room_list.groupby('year').agg(['count', 'mean'])
chicago_private_room_list_agg

      beds           price
     count      mean count       mean
year
2015  1968  1.157012  1972  86.103448
2017  1946  1.234841  1949  71.412519
2018  2432  1.246711  2434  76.237058
2019  2522  1.275971  2524  83.068938

In [15]:
zillow_1b_path = "/Users/jimmytsai/Downloads/Metro_MedianRentalPrice_1Bedroom.csv"
zillow_1b = pd.read_csv(zillow_1b_path,',')
zillow_1b.head(10)

,RegionName,SizeRank,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,...,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03
0,United States,0,NaN,1200.0,1250.0,1217.5,1250.0,1200.0,1200.0,1047.5,...,1450.0,1463.0,1464.0,1450.0,1440.0,1434.0,1444.0,1450.0,1465.0,1480.0
1,"New York, NY",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2195.0,2180.0,2180.0,2160.0,2108.0,2100.0,2100.0,2100.0,2100.0,2150.0
2,"Los Angeles-Long Beach-Anaheim, CA",2,NaN,1375.0,1425.0,1425.0,1412.5,1530.0,1600.0,1388.0,...,2035.0,2055.0,2095.0,2088.5,2105.0,2110.0,2104.0,2095.0,2109.0,2125.0
3,"Chicago, IL",3,NaN,1050.0,1107.5,1050.0,1095.0,995.0,950.0,1095.0,...,1495.0,1500.0,1502.0,1500.0,1495.0,1523.0,1540.0,1582.0,1595.0,1595.0
4,"Dallas-Fort Worth, TX",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.0,...,1255.0,1268.0,1266.0,1267.0,1289.0,1290.0,1275.5,1270.0,1276.0,1275.0
5,"Philadelphia, PA",5,NaN,NaN,NaN,NaN,NaN,NaN,1000.0,899.0,...,1345.0,1350.0,1345.0,1348.0,1321.0,1350.0,1350.0,1355.0,1395.0,1400.0
6,"Houston, TX",6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1225.0,1225.0,1221.0,1214.0,1200.0,1200.0,1195.0,1192.0,1195.0,1234.0
7,"Washington, DC",7,NaN,1300.0,1425.0,1400.0,1400.0,1400.0,1392.0,1450.0,...,1800.0,1800.0,1829.0,1800.0,1806.0,1807.0,1835.0,1850.0,1832.0,1850.0
8,"Miami-Fort Lauderdale, FL",8,1300.0,1300.0,1300.0,1275.0,1300.0,1200.0,1200.0,1312.5,...,1650.0,1650.0,1650.0,1655.0,1658.0,1658.0,1650.0,1650.0,1658.0,1650.0
9,"Atlanta, GA",9,1000.0,995.0,1000.0,1000.0,1075.0,1050.0,995.0,950.0,...,1290.0,1329.0,1350.0,1328.0,1395.5,1392.0,1393.0,1400.0,1410.0,1426.0

In [16]:
zillow_1b[zillow_1b['RegionName'] == "Chicago, IL"][['2015-06','2016-06','2017-06','2018-06','2019-03']]

   2015-06  2016-06  2017-06  2018-06  2019-03
3   1395.0   1425.0   1425.0   1495.0   1595.0

In [17]:
seattle_list = get_all_list_from_airbnb([2015,2016,2018,2019],"Seattle")
seattle_list['category']= "seattle"
seattle_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,Seattle,Belltown,Apartment,Private room,1.0,59.0,2015,seattle
1,Seattle,Belltown,Apartment,Shared room,1.0,45.0,2015,seattle
2,Seattle,Belltown,Apartment,Entire home/apt,2.0,225.0,2015,seattle
3,Seattle,Belltown,Apartment,Entire home/apt,1.0,200.0,2015,seattle
4,Seattle,First Hill,Apartment,Shared room,1.0,74.0,2015,seattle
5,Seattle,North Beacon Hill,House,Shared room,1.0,30.0,2015,seattle
6,Seattle,Phinney Ridge,Apartment,Shared room,1.0,37.0,2015,seattle
7,Seattle,Broadway,Apartment,Shared room,1.0,25.0,2015,seattle
8,Seattle,Broadway,House,Shared room,1.0,46.0,2015,seattle
9,Seattle,Broadway,House,Shared room,1.0,55.0,2015,seattle

In [18]:
sanfrancisco_list = get_all_list_from_airbnb([2015,2016,2017,2018,2019],"Sanfrancisco")
sanfrancisco_list['category']= "sanfrancisco"
sanfrancisco_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,San Francisco,Castro/Upper Market,House,Entire home/apt,2.0,250.0,2015,sanfrancisco
1,San Francisco,Inner Richmond,Apartment,Private room,1.0,89.0,2015,sanfrancisco
2,San Francisco,South of Market,Apartment,Private room,1.0,164.0,2015,sanfrancisco
3,San Francisco,Nob Hill,Apartment,Entire home/apt,2.0,170.0,2015,sanfrancisco
4,San Francisco,Potrero Hill,Apartment,Entire home/apt,2.0,185.0,2015,sanfrancisco
5,San Francisco,Pacific Heights,Apartment,Private room,1.0,135.0,2015,sanfrancisco
6,San Francisco,South of Market,Loft,Shared room,1.0,70.0,2015,sanfrancisco
7,San Francisco,Nob Hill,Apartment,Entire home/apt,1.0,125.0,2015,sanfrancisco
8,San Francisco,Nob Hill,Apartment,Entire home/apt,1.0,140.0,2015,sanfrancisco
9,San Francisco,Nob Hill,Apartment,Private room,1.0,69.0,2015,sanfrancisco

In [19]:
losangeles_list = get_all_list_from_airbnb([2015,2016,2017,2018,2019],"Losangeles")
losangeles_list['category']= "losangeles"

losangeles_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,Los Angeles,Venice,Apartment,Entire home/apt,2.0,145.0,2015,losangeles
1,Los Angeles,Venice,Apartment,Entire home/apt,2.0,175.0,2015,losangeles
2,Rancho Palos Verdes,Rancho Palos Verdes,Villa,Private room,1.0,295.0,2015,losangeles
3,Los Angeles,Hollywood,Condominium,Private room,1.0,110.0,2015,losangeles
4,Santa Monica,Venice,Loft,Entire home/apt,2.0,600.0,2015,losangeles
5,Los Angeles,Hollywood,House,Entire home/apt,1.0,95.0,2015,losangeles
6,Los Angeles,West Hollywood,House,Private room,1.0,90.0,2015,losangeles
7,Los Angeles,Beverly Grove,House,Entire home/apt,3.0,274.0,2015,losangeles
8,North Hollywood,North Hollywood,Apartment,Entire home/apt,4.0,99.0,2015,losangeles
9,Venice,Venice,Apartment,Entire home/apt,2.0,159.0,2015,losangeles

In [20]:
austin_list = get_all_list_from_airbnb([2015,2017,2018,2019],"Austin")
austin_list['category']= "austin"
austin_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,Austin,78704,Apartment,Entire home/apt,2.0,425.0,2015,austin
1,Austin,78704,House,Entire home/apt,4.0,574.0,2015,austin
2,Austin,78704,House,Private room,1.0,150.0,2015,austin
3,Austin,78704,House,Private room,1.0,99.0,2015,austin
4,Austin,78704,House,Entire home/apt,2.0,185.0,2015,austin
5,Austin,78704,House,Entire home/apt,4.0,130.0,2015,austin
6,Austin,78704,House,Private room,1.0,185.0,2015,austin
7,Austin,78704,House,Entire home/apt,1.0,139.0,2015,austin
8,Austin,78704,House,Entire home/apt,3.0,500.0,2015,austin
9,Austin,78724,House,Entire home/apt,3.0,289.0,2015,austin

In [21]:
boston_list = get_all_list_from_airbnb([2015,2016,2017,2018,2019],"Boston")
boston_list['category']= "boston"
boston_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,Boston,Roslindale,House,Private room,1.0,62.0,2015,boston
1,Boston,Roslindale,Apartment,Private room,1.0,65.0,2015,boston
2,Boston,Roslindale,Apartment,Private room,1.0,75.0,2015,boston
3,Boston,Roslindale,House,Entire home/apt,2.0,110.0,2015,boston
4,Boston,Roslindale,House,Private room,1.0,75.0,2015,boston
5,Boston,Roslindale,Apartment,Private room,1.0,70.0,2015,boston
6,Boston,Roslindale,House,Private room,1.0,49.0,2015,boston
7,Boston,Roslindale,Apartment,Private room,1.0,50.0,2015,boston
8,Boston,Roslindale,Apartment,Private room,1.0,60.0,2015,boston
9,Boston,Roslindale,Villa,Private room,1.0,40.0,2015,boston

In [22]:
nashville_list = get_all_list_from_airbnb([2015,2016,2017,2018,2019],"Nashville")
nashville_list['category']= "nashville"
nashville_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,Nashville,District 1,House,Private room,1.0,54.0,2015,nashville
1,Nashville,District 1,Cabin,Entire home/apt,1.0,350.0,2015,nashville
2,Nashville,District 1,House,Entire home/apt,8.0,510.0,2015,nashville
3,Nashville,District 1,House,Private room,1.0,45.0,2015,nashville
4,Nashville,District 1,House,Private room,1.0,150.0,2015,nashville
5,Nashville,District 1,House,Entire home/apt,1.0,125.0,2015,nashville
6,Nashville,District 1,House,Entire home/apt,2.0,290.0,2015,nashville
7,Nashville,District 1,House,Entire home/apt,4.0,108.0,2015,nashville
8,Nashville,District 1,House,Entire home/apt,9.0,202.0,2015,nashville
9,Nashville,District 1,Bed & Breakfast,Entire home/apt,4.0,85.0,2015,nashville

In [23]:
neworleans_list = get_all_list_from_airbnb([2015,2016,2017,2018,2019],"Neworleans")
neworleans_list['category']= "neworleans"
neworleans_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,New Orleans,Algiers Point,Apartment,Entire home/apt,4.0,85.0,2015,neworleans
1,New Orleans,City Park,House,Entire home/apt,1.0,125.0,2015,neworleans
2,New Orleans,City Park,Apartment,Entire home/apt,2.0,200.0,2015,neworleans
3,New Orleans,City Park,House,Entire home/apt,4.0,150.0,2015,neworleans
4,New Orleans,City Park,House,Entire home/apt,3.0,215.0,2015,neworleans
5,New Orleans,City Park,Loft,Entire home/apt,1.0,125.0,2015,neworleans
6,New Orleans,City Park,Apartment,Entire home/apt,3.0,142.0,2015,neworleans
7,New Orleans,City Park,Apartment,Entire home/apt,1.0,500.0,2015,neworleans
8,New Orleans,Desire Area,House,Shared room,1.0,100.0,2015,neworleans
9,New Orleans,Desire Area,House,Private room,1.0,125.0,2015,neworleans

In [24]:
newyork_list = get_all_list_from_airbnb([2015,2016,2017,2018,2019],"Newyork")
newyork_list['category']= "newyork"
newyork_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,New York,Midtown East,Apartment,Entire home/apt,1.0,160.0,2015,newyork
1,New York,Hamilton Heights,Apartment,Entire home/apt,3.0,105.0,2015,newyork
2,Brooklyn,Bushwick,Apartment,Private room,2.0,58.0,2015,newyork
3,New York,West Village,Apartment,Entire home/apt,1.0,185.0,2015,newyork
4,New York,Chelsea,Apartment,Entire home/apt,2.0,195.0,2015,newyork
5,Brooklyn,Carroll Gardens,Apartment,Entire home/apt,3.0,165.0,2015,newyork
6,Brooklyn,Bushwick,Apartment,Private room,1.0,80.0,2015,newyork
7,New York,Chinatown,Apartment,Private room,1.0,120.0,2015,newyork
8,New York,East Village,Apartment,Entire home/apt,2.0,150.0,2015,newyork
9,Brooklyn,Bedford-Stuyvesant,Apartment,Shared room,1.0,40.0,2015,newyork

In [25]:
oakland_list = get_all_list_from_airbnb([2015,2016,2018,2019],"Oakland")
oakland_list['category']= "oakland"
oakland_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,Oakland,Northgate,Apartment,Shared room,1.0,45.0,2015,oakland
1,Oakland,Bushrod,House,Shared room,1.0,38.0,2015,oakland
2,Oakland,Longfellow,House,Shared room,1.0,35.0,2015,oakland
3,Emeryville,Clawson,Apartment,Shared room,1.0,200.0,2015,oakland
4,Oakland,Merritt,Apartment,Shared room,4.0,50.0,2015,oakland
5,Oakland,Patten,Apartment,Shared room,2.0,55.0,2015,oakland
6,Oakland,Bartlett,House,Shared room,3.0,65.0,2015,oakland
7,Oakland,Reservoir Hill-Meadow Brook,House,Shared room,8.0,42.0,2015,oakland
8,Oakland,Reservoir Hill-Meadow Brook,House,Shared room,8.0,42.0,2015,oakland
9,Oakland,Lakewide,Apartment,Shared room,1.0,49.0,2015,oakland

In [26]:
portland_list = get_all_list_from_airbnb([2015,2016,2017,2018,2019],"Portland")
portland_list['category']= "portland"
portland_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,Portland,Ashcreek/Crestwood,House,Private room,1.0,67.0,2015,portland
1,Portland,Sabin/Irvington,House,Private room,1.0,79.0,2015,portland
2,Portland,Bridlemile/Southwest Hills,Apartment,Entire home/apt,3.0,250.0,2015,portland
3,Portland,Sylvan-Highlands,House,Entire home/apt,1.0,95.0,2015,portland
4,Portland,Eastmoreland/Reed,Dorm,Shared room,1.0,17.0,2015,portland
5,Portland,Hillside/Northwest District,Apartment,Entire home/apt,2.0,122.0,2015,portland
6,Portland,Goose Hollow/Southwest Hills,Apartment,Entire home/apt,1.0,87.0,2015,portland
7,Portland,Lents,Other,Private room,2.0,39.0,2015,portland
8,Portland,Hillside/Northwest District,House,Entire home/apt,2.0,160.0,2015,portland
9,Portland,Alameda/Irvington,House,Private room,2.0,55.0,2015,portland

In [27]:
sandiego_list = get_all_list_from_airbnb([2015,2016,2018,2019],"Sandiego")
sandiego_list['category']= "sandiego"
sandiego_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,San Diego,La Jolla,Apartment,Entire home/apt,3.0,340.0,2015,sandiego
1,San Diego,Grantville,House,Private room,1.0,50.0,2015,sandiego
2,San Diego,San Carlos,House,Private room,1.0,58.0,2015,sandiego
3,San Diego,San Carlos,Other,Private room,1.0,85.0,2015,sandiego
4,San Diego,Del Cerro,House,Private room,1.0,56.0,2015,sandiego
5,San Diego,Del Cerro,House,Private room,3.0,60.0,2015,sandiego
6,San Diego,San Carlos,House,Private room,1.0,50.0,2015,sandiego
7,San Diego,San Carlos,House,Private room,1.0,100.0,2015,sandiego
8,San Diego,Allied Gardens,House,Private room,1.0,80.0,2015,sandiego
9,San Diego,San Carlos,House,Private room,3.0,105.0,2015,sandiego

In [28]:
washington_list = get_all_list_from_airbnb([2015,2017,2018,2019],"Washington")
washington_list['category']= "washington"
washington_list.head(10)

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,Washington,"Capitol Hill, Lincoln Park",House,Entire home/apt,2.0,160.0,2015,washington
1,Washington,"Capitol Hill, Lincoln Park",House,Entire home/apt,3.0,350.0,2015,washington
2,Hyattsville,"Lamont Riggs, Queens Chapel, Fort Totten, Plea...",House,Private room,1.0,50.0,2015,washington
3,Washington,"Southwest Employment Area, Southwest/Waterfron...",House,Private room,1.0,95.0,2015,washington
4,Silver Spring,"Colonial Village, Shepherd Park, North Portal ...",Townhouse,Entire home/apt,1.0,50.0,2015,washington
5,Washington,"Southwest Employment Area, Southwest/Waterfron...",Boat,Entire home/apt,4.0,99.0,2015,washington
6,Washington,"Takoma, Brightwood, Manor Park",Condominium,Entire home/apt,2.0,100.0,2015,washington
7,Mount Rainier,"Woodridge, Fort Lincoln, Gateway",Apartment,Entire home/apt,1.0,100.0,2015,washington
8,Capitol Heights,"Capitol View, Marshall Heights, Benning Heights",House,Private room,1.0,38.0,2015,washington
9,Takoma Park,"Takoma, Brightwood, Manor Park",Bed & Breakfast,Private room,1.0,71.0,2015,washington

In [31]:
total_city_list = pd.DataFrame() 
total_city_list = total_city_list.append([chicago_list,seattle_list,sanfrancisco_list,losangeles_list,austin_list,boston_list,nashville_list,neworleans_list,newyork_list,oakland_list,portland_list,sandiego_list,washington_list],ignore_index=True)

In [32]:
total_city_list

,city,neighbourhood_cleansed,property_type,room_type,beds,price,year,category
0,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,142.0,2015,chicago
1,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,120.0,2015,chicago
2,Chicago,Lincoln Square,House,Entire home/apt,1.0,85.0,2015,chicago
3,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,125.0,2015,chicago
4,Chicago,Lincoln Square,Apartment,Private room,1.0,75.0,2015,chicago
5,Chicago,Lincoln Square,House,Private room,1.0,95.0,2015,chicago
6,Chicago,Lincoln Square,Apartment,Entire home/apt,5.0,275.0,2015,chicago
7,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,175.0,2015,chicago
8,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,100.0,2015,chicago
9,Chicago,Lincoln Square,Apartment,Private room,1.0,80.0,2015,chicago
10,Chicago,Lincoln Square,Apartment,Private room,1.0,55.0,2015,chicago
11,Chicago,Lincoln Square,Condominium,Private room,1.0,70.0,2015,chicago
12,Chicago,Lincoln Square,Apartment,Entire home/apt,3.0,125.0,2015,chicago
13,Chicago,Lincoln Square,Apartment,Private room,2.0,75.0,2015,chicago
14,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,210.0,2015,chicago
15,Chicago,Lincoln Square,Apartment,Private room,1.0,60.0,2015,chicago
16,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,85.0,2015,chicago
17,Chicago,Lincoln Square,Apartment,Private room,1.0,55.0,2015,chicago
18,Chicago,Lincoln Square,Apartment,Shared room,1.0,65.0,2015,chicago
19,Chicago,Lincoln Square,House,Entire home/apt,1.0,102.0,2015,chicago
20,Chicago,Lincoln Square,Apartment,Private room,1.0,60.0,2015,chicago
21,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,90.0,2015,chicago
22,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,150.0,2015,chicago
23,Chicago,Lincoln Square,Condominium,Entire home/apt,1.0,110.0,2015,chicago
24,Chicago,Lincoln Square,Apartment,Entire home/apt,2.0,125.0,2015,chicago
25,Chicago,Lincoln Square,House,Entire home/apt,5.0,350.0,2015,chicago
26,Chicago,Lincoln Square,Apartment,Shared room,2.0,65.0,2015,chicago
27,Chicago,Lincoln Square,Apartment,Entire home/apt,1.0,150.0,2015,chicago
28,Chicago,Lincoln Square,Apartment,Private room,1.0,60.0,2015,chicago
29,Chicago,Lincoln Square,Apartment,Entire home/apt,3.0,225.0,2015,chicago
...,...,...,...,...,...,...,...,...
632654,Washington,"Colonial Village, Shepherd Park, North Portal ...",Apartment,Entire home/apt,1.0,62.0,2019,washington
632655,Washington,"Twining, Fairlawn, Randle Highlands, Penn Bran...",Townhouse,Private room,1.0,55.0,2019,washington
632656,Washington,"Capitol Hill, Lincoln Park",Apartment,Entire home/apt,1.0,125.0,2019,washington
632657,Washington,"Takoma, Brightwood, Manor Park",Townhouse,Entire home/apt,3.0,123.0,2019,washington
632658,Washington,"Union Station, Stanton Park, Kingman Park",Apartment,Entire home/apt,2.0,65.0,2019,washington
632659,Washington,"West End, Foggy Bottom, GWU",Apartment,Entire home/apt,1.0,126.0,2019,washington
632660,Washington,"West End, Foggy Bottom, GWU",Apartment,Entire home/apt,2.0,270.0,2019,washington
632661,Washington,"Kalorama Heights, Adams Morgan, Lanier Heights",Condominium,Entire home/apt,1.0,249.0,2019,washington
632662,Washington,"Dupont Circle, Connecticut Avenue/K Street",Townhouse,Private room,1.0,77.0,2019,washington
632663,Washington,Historic Anacostia,Apartment,Entire home/apt,1.0,80.0,2019,washington
632664,Washington,"Kalorama Heights, Adams Morgan, Lanier Heights",Condominium,Entire home/apt,1.0,599.0,2019,washington
632665,Washington,"Edgewood, Bloomingdale, Truxton Circle, Eckington",Apartment,Private room,1.0,51.0,2019,washington
632666,Washington,"Howard University, Le Droit Park, Cardozo/Shaw",House,Private room,1.0,55.0,2019,washington
632667,Washington,"Capitol Hill, Lincoln Park",Condominium,Entire home/apt,3.0,133.0,2019,washington
632668,Washington,"Shaw, Logan Circle",Guest suite,Private room,1.0,100.0,2019,washington
632669,Washington,"Shaw, Logan Circle",Apartment,Entire home/apt,1.0,165.0,2019,washington
632670,Washington,"Dupont Circle, Connecticut Avenue/K Street",Apartment,Entire home/apt,1.0,155.0,2019,washington
632671,Washington,"Capitol Hill, Lincoln Park",Apartment,Entire home/apt,1.0,75.0,2019,washington
632672,Washington,"Howard University, Le Droit Park, Cardozo/Shaw",Townhouse,Entire home/apt,4.0,164.0,2019,washington
632673,Washington,"Cathedral Heights, McLean Gardens, Glover Park",Apartment,Entire home/apt,1.0,68.0,2019,washington
632674,Washington,"Union Station, Stanton Park, Kingman Park",Apartment,Entire home/apt,1.0,100.0,2019,washington
632675,Washington,"Union Station, Stanton Park, Kingman Park",Apartment,Entire home/apt,1.0,96.0,2019,washington
632676,Washington,"Capitol Hill, Lincoln Park",Apartment,Entire home/apt,2.0,145.0,2019,washington
632677,Washington,"Dupont Circle, Connecticut Avenue/K Street",Apartment,Entire home/apt,3.0,282.0,2019,washington
632678,Washington,"Sheridan, Barry Farm, Buena Vista",Condominium,Private room,2.0,90.0,2019,washington
632679,Chevy Chase Village,"Hawthorne, Barnaby Woods, Chevy Chase",Apartment,Private room,1.0,41.0,2019,washington
632680,Washington,"Friendship Heights, American University Park, ...",Guest suite,Entire home/apt,1.0,110.0,2019,washington
632681,Washington,"Edgewood, Bloomingdale, Truxton Circle, Eckington",Apartment,Entire home/apt,3.0,199.0,2019,washington
632682,Washington,"Cleveland Park, Woodley Park, Massachusetts Av...",House,Entire home/apt,10.0,495.0,2019,washington
632683,Washington,"Brightwood Park, Crestwood, Petworth",Apartment,Entire home/apt,3.0,71.0,2019,washington

In [40]:
total_1b_apt_list = total_city_list[total_city_list['beds'] == 1.0][total_city_list['room_type'] == "Entire home/apt" ]
total_1b_apt_list.groupby(['category','year'])['price'].agg(['count', 'mean']).unstack()

               count                                          mean  \
year            2015    2016    2017     2018     2019        2015
category
austin         933.0     NaN  1728.0   1945.0   2169.0  202.395498
boston         689.0   905.0  1171.0   1426.0   1525.0  199.114659
chicago       1230.0     NaN   965.0   1230.0   1366.0  144.454472
losangeles    3834.0  4920.0  6833.0   8626.0   9534.0  142.575639
nashville      261.0   421.0   560.0    708.0    748.0  134.559387
neworleans     543.0   780.0  1040.0   1061.0   1210.0  159.173112
newyork       8414.0  9887.0  9761.0  11037.0  11728.0  182.069170
oakland        295.0   416.0     NaN    699.0    721.0  112.077966
portland       468.0   697.0   824.0   1109.0   1276.0  105.878205
sandiego       687.0  1169.0     NaN   1925.0   2226.0  178.842795
sanfrancisco  1409.0  1807.0  1971.0    852.0   1717.0  211.564940
seattle        766.0  1071.0     NaN   2336.0   2585.0  134.357702
washington    1175.0     NaN  2146.0   2336.0   2309.0  134.439149


year                2016        2017        2018        2019
category
austin               NaN  196.652199  182.682262  170.627017
boston        184.434254  182.962425  210.654278  183.331803
chicago              NaN  127.753368  121.067480  123.987555
losangeles    138.466667  140.489829  138.369001  137.683868
nashville     119.828979  139.953571  160.283898  183.536096
neworleans    156.820513  142.842308  125.654100  136.004959
newyork       172.188227  168.429054  165.793694  171.005798
oakland       122.009615         NaN  117.937053  121.030513
portland      107.220947  106.861650  104.895401  100.358934
sandiego      146.159966         NaN  138.035325  138.181941
sanfrancisco  229.749308  234.531710  173.215962  176.269074
seattle       116.107376         NaN  134.294521  138.392263
washington           NaN  199.610438  173.833904  157.898224